/* Import Klein */
@font-face {
    font-family: "Klein";
    src: url("../fonts/klein-regular.ttf");
}

/* Import Rakenham, only used for numbers (0-9) */
@font-face {
    font-family: "Pakenham";
    src: url("../fonts/pakenham-regular.ttf");
    unicode-range: U+30-39;
}

/* Global styles */
* {
    font-family: "Pakenham", "Klein";
    font-weight: 500;
    font-size: 1em;
}

:root {
    --logo-color: hsl(253, 55%, 45%);
}

body {
    overflow-x: hidden;
}

.logo {
    color: var(--logo-color);
    font-weight: 1000;
}

/* Animations */
@keyframes slide-top {
    0% { transform: translateY(-150%); }
    100% { transform: translateY(0); }
}

@keyframes slide-bottom {
    0% { transform: translateY(50%); }
    100% { transform: translateY(0); }
}

@keyframes slide-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes slide-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

/* Background image */
#content-bg-image {
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100%;
    height: 700px;
}

/* Containers */
#content-container, #footer-container {
    width: 100%;
    max-width: 1000px;
}

/* Navbar */
#navbar {
    animation: 1s ease-out slide-top, 1s ease-out fade-in;
    margin: 20px 0px 50px;
}

#navbar-brand {
    margin-left: 25px;
}

#navbar-brand-name {
    font-weight: 800;
    font-size: 1.45em;
}

#navbar-brand-subtitle {
    font-size: 0.8em;
}

#navbar-nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar-nav-item {
    width: max-content;
    padding: 0px 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 0px 25px;
}

.navbar-nav-item:hover, .navbar-nav-item-active {
    border-bottom: 2px solid #000000;
}

.navbar-nav-item:hover {
    cursor: pointer;
}

.navbar-nav-item-active:hover {
    cursor: default;
}

#navbar-hamburger {
    position: relative;
    display: none;
    font-size: 3em;
    margin: 0.2em 0.5em 0em 0em;
}

#navbar-hamburger > input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0em;
    left: 0em;
    bottom: 0em;
    right: 0em;
    margin: 0em;
}

#navbar-hamburger-links {
    position: absolute;
    display: none;
    font-size: 1rem;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 1;
    width: max-content;
    top: 4em;
    right: 0em;
    border: 1px solid #000000;
    border-radius: 0.5em 0em 0.5em 0.5em;
}

#navbar-hamburger > input:checked ~ #navbar-hamburger-links {
    display: block;
}

#navbar-hamburger-links > div {
    cursor: pointer;
    padding: 0.5em 0.5em;
}

#navbar-hamburger-links > div:hover, #navbar-hamburger-links > div:active {
    background-color: #CCCCCC;
}

#navbar-hamburger-links > div:first-child {
    border-radius: 0.5em 0em 0em 0em;
}

#navbar-hamburger-links > div:last-child {
    border-radius: 0em 0em 0.5em 0.5em;
}

/* Banner */
#banner-container {
    animation: 1.5s ease-out slide-bottom, 1.5s ease-out fade-in;
}

#banner-logo {
    font-size: 15em;
    margin-right: 20px;
}

#banner-message-container {
    margin-top: 27px;
}

#banner-message-welcome {
    font-size: 1.5em;
}

#banner-message-intro {
    font-size: 2em;
    font-weight: 700;
}

#banner-message-subject {
    font-size: 3em;
    font-weight: 1000;
    color: rgb(1, 194, 130);
}

#banner-view-projects {
    color: #FFFFFF;
    background-color: hsl(221, 67%, 54%);
    width: max-content;
    padding: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 17px;
}

#banner-view-projects:hover {
    cursor: pointer;
    background-color: hsl(221, 90%, 65%);
}

/* Cards */
#card-container {
    margin-top: 150px;
}

.card {
    position: relative;
    animation: 1.5s ease-out slide-bottom, 1.5s ease-out fade-in;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #CCCCCC, -1px 0px 3px #CCCCCC;
    width: 300px;
    height: 300px;
    padding: 15px 30px;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    margin: 15px;
}

.card:nth-child(2) {
    animation-duration: 1.3s;
}

.card:hover {
    border-bottom: 10px solid var(--logo-color);
}

.card-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-desc {
    margin: 0px;
}

.card-link {
    position: absolute;
    color: hsl(202, 100%, 40%);
    font-weight: 600;
    top: 235px;
}

.card-link:hover {
    color: hsl(202, 100%, 60%);
    cursor: pointer;
}

/* Descriptions */
#description-container {
    margin: 100px 0px;
}

.description {
    animation: 1.5s ease-out slide-left, 1.5s ease-out fade-in;
    margin-left: 25px;
}

.description:nth-child(2) {
    animation: 1.5s ease-out slide-right, 1.5s ease-out fade-in;
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 25px;
}

.description > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000000;
    flex-shrink: 0;
}

.description-content {
    margin: 0px 20px;
}

.description-content-header {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0px 0px 5px;
}

.description-content-text {
    margin: 0px;
}

.description-content-text > p {
    margin-top: 0px;
}

.description-content-text > p:last-child {
    margin-bottom: 0px;
}

/* Footer */
footer {
    animation: 1s ease-out slide-bottom, 1s ease-out fade-in;
    background-color: var(--logo-color);
    color: #FFFFFF;
    font-size: 1em;
    width: 100%;
    box-shadow: 0px -1px 5px #000000;
    padding: 25px 0px 50px;
}

#footer-container > ol {
    list-style-type: none;
    padding: 0em;
    margin: 1em;
}

#footer-container > ol > li {
    width: fit-content;
}

#footer-container > ol > li:first-child {
    font-size: 1.5em;
}

#footer-media > li:not(:first-child), #footer-contact-number {
    cursor: pointer;
    color: hsl(192, 100%, 50%);
}

#footer-media > li:not(:first-child):hover, #footer-contact-number:hover {
    color: hsl(192, 100%, 75%);
}

/* Global Styles */
a, a:hover {
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

button, button:hover {
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.navbar-nav-item, .navbar-nav-item:hover, .card, .card:hover {
    -webkit-transition: border-bottom 200ms linear;
    -moz-transition: border-bottom 200ms linear;
    -o-transition: border-bottom 200ms linear;
    transition: border-bottom 200ms linear;
}