/* 896px */
@media only screen and (max-width: 56em) {
    #content-bg-image {
        display: none;
    }

    #card-container {
        display: none;
    }

    #description-container {
        margin-top: 0em;
    }
}

/* 640px */
@media only screen and (max-width: 40em) {
    #navbar {
        margin-bottom: 0.5em;
    }

    #navbar-nav {
        display: none;
    }

    #navbar-hamburger {
        display: block;
    }

    #banner-logo {
        font-size: 13em;
    }

    #banner-message-welcome {
        font-size: 1em;
    }

    #banner-message-intro {
        font-size: 1.2em;
    }

    #banner-message-subject {
        font-size: 1.8em;
    }

    #banner-view-projects {
        font-size: 0.8em;
    }

    .description, .description:nth-child(even) {
        flex-direction: column;
        margin: 1em 0em;
    }

    .description-content-header {
        margin-top: 1em;
    }

    .description-content-header, .description-content-text {
        text-align: center;
    }
}