/* Animations */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Mixins */
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/* Styles */
body {
    margin: 0rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}