/* 1024px */
@media only screen and (max-width: 64em) {
    #header {
        flex-direction: column;
        text-align: center;
    }

    #header > img {
        display: none;
    }
}

/* 896px */
@media only screen and (max-width: 56em) {
    #navbar-links {
        display: none;
    }

    #navbar-hamburger {
        display: block;
    }
}

/* 640px */
@media only screen and (max-width: 40em) {
    nav {
        margin: 0.5em;
    }

    #navbar-brand {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    #footer {
        padding: 1em 0.5em;
    }
}