@use "../utilities/variables";
@use "../utilities/mixins";

a {
    @include mixins.transition(border-bottom);
    text-decoration: none;
    color: variables.$light-text-color;
    cursor: pointer;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;

    &.link-active, &:hover, &:active {
        border-bottom: 2px solid variables.$light-text-color;
    }

    &.link-active {
        cursor: default;
    }

    &.link-normal {
        @include mixins.transition(color);
        color: variables.$link-color;
        padding-bottom: 0rem;
        border-bottom: none;

        &:hover, &:active {
            color: variables.$link-hover-color;
        }
    }
}