@use "../utilities/variables";
@use "../utilities/mixins";

a {
    @include mixins.transition(border-bottom);
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;

    &.active-link, &:hover, &:active {
        border-bottom: 2px solid variables.$light-text-color;
    }

    &.active-link {
        cursor: default;
    }
}