$main-color: #13161b;
$faded-color: #324153;
$invert-color: #e6e3dd;
$accent-color: #f55757;

$anim-timing: 250ms;
$anim-slow-timing: 400ms;
$anim-slower-timing: 1s;
$anim-slowest-timing: 2s;
$anim-easing: ease-in-out;