/* Text */
$light-text-color: #FFFFFF;
$dark-text-color: #000000;

$link-color: hsl(210, 100%, 40%);
$link-hover-color: hsl(210, 100%, 75%);

$success-color: hsl(115, 100%, 40%);
$failure-color: hsl(0, 100%, 40%);

/* Backgrounds */
$main-bg-color: #FFFFFF;
$light-bg-color: hsl(215, 70%, 60%);
$dark-bg-color: hsl(215, 70%, 10%);

$light-hover-color: hsl(0, 0%, 80%);
$blue-hover-color: hsl(215, 70%, 70%);

$shadow-color: #CCCCCC;

/* Transitions */
$transition-timing: 250ms;
$transition-easing: ease-in-out;

/* Layouts */
$large-width: 75rem;
$small-width: 50rem;

/* Misc */
$border-radius: 0.5rem;