/* Variables */
$light-text-color: #FFFFFF;
$light-bg-color: hsl(215, 70%, 60%);
$light-hover-color: hsl(0, 0%, 80%);

$dark-text-color: #000000;
$dark-bg-color: hsl(215, 70%, 10%);
$dark-hover-color: hsl(215, 70%, 70%);

/* Mixins */
@mixin max-width($max) {
    max-width: $max;
}