/* Global styles */
* {
    font-family: "Consolas", monospace;
    font-weight: 500;
}

:root {
    font-size: 16px;
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade-top {
    0% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Containers */
body {
    height: 100%;
}

#content-container {
    box-shadow: -4px 0px 5px #CCCCCC, 4px 0px 5px #CCCCCC;
    max-width: 1200px;
}

#content-container, #navbar {
    max-width: 1200px;
    height: 100%;
}

#content {
    width: 90%;
    margin-left: 5%;
}

/* Navbar */
#navbar-bar {
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px #CCCCCC;
    width: 100%;
    height: 3rem;
}

#navbar {
    justify-content: space-between;
    width: 100%;
    margin: 0em 1em;
}

#navbar-logo {
    font-weight: bold;
    font-size: 2em;
}

#navbar-nav > a {
    font-size: 1.2em;
    cursor: pointer;
    padding: 0px 15px;
}

#navbar-nav > a:hover, .navbar-active {
    color: #888888;
}

#navbar-nav > .navbar-active {
    cursor: default;
}

#navbar-nav > a:last-child {
    padding-right: 0em;
}

/* Banner */
#banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 3rem;
}

#banner-image, #banner-about-container {
    position: absolute;
    width: inherit;
    height: inherit;
}

#banner-about-container {
    animation: 1.5s fade-in, 1.5s fade-top;
    color: #FFFFFF;
}

#banner-about-header {
    font-weight: bold;
    font-size: 5em;
    margin: 30px 0px 0px;
}

#banner-about-description {
    font-weight: 600;
    font-size: 1.5em;
}

/* Featured */
#featured-container {
    justify-content: space-between;
    margin-top: 20px;
}

#featured-description-container {
    width: 450px;
    height: 500px;
}

#featured {
    font-weight: 700;
    font-size: 1.5em;
}

#featured-header {
    font-weight: bold;
    font-size: 3em;
    border-bottom: 1px solid #CCCCCC;
    margin: 0px 0px 10px;
}

#featured-continue {
    cursor: pointer;
    color: hsl(207, 68%, 50%);
}

#featured-continue:hover {
    color: hsl(207, 80%, 70%);
}

#featured-date {
    color: #666666;
    margin-bottom: 2em;
}

#featured-image {
    flex-shrink: 0;
    width: 400px;
    height: 100%;
}

/* Cards */
#article-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px #CCCCCC;
    width: 20em;
    height: 430px;
    border-radius: 10px;
    margin: 0.5em;
}

.card:hover {
    box-shadow: 0px 0px 15px 5px hsl(214, 87%, 71%);
    cursor: pointer;
}

.card-featured {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0px 0px;
}

.card-background {
    position: absolute;
    -webkit-transition: 150ms transform linear;
    -moz-transition: 150ms transform linear;
    -o-transition: 150ms transform linear;
    transition: 150ms transform linear;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.card:hover .card-background {
    transform: scale(1.1);
}

.card-text {
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 75%);
    border-radius: 0px 0px 10px 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.card-featured, .card-category, .card-header, .card-description, .card-date {
    padding: 0px 15px;
}

.card-category {
    color: #BBBBBB;
    font-size: 1.2em;
    margin: 10px 0px 0px;
}

.card-header {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px;
}

.card-description {
    margin: 5px 0px;
}

.card-date {
    color: #BBBBBB;
}

/* Global styles */
a, a:hover {
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

.card, .card:hover {
    -webkit-transition: box-shadow 200ms linear;
    -moz-transition: box-shadow 200ms linear;
    -o-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
}