/* Variables */
$light-text-color: #FFFFFF;
$dark-text-color: #000000;
$shadow-color: #CCCCCC;

$logo-bg-color: hsl(253, 55%, 45%);
$logo-highlight-color: rgb(1, 194, 130);

$link-color: hsl(220, 90%, 70%);
$link-hover-color: hsl(220, 100%, 85%);
$footer-link-color: hsl(195, 90%, 60%);
$footer-link-hover-color: hsl(195, 100%, 85%);