@use "../utilities/variables";
@use "../utilities/mixins";

section {
    @include mixins.flex();
    color: variables.$dark-text-color;
    background-color: variables.$main-bg-color;
    padding: 1rem;

    &.section-light {
        color: variables.$light-text-color;
        background-color: variables.$light-bg-color;
    }

    &.section-dark {
        color: variables.$light-text-color;
        background-color: variables.$dark-bg-color;
    }

    &.section-large {
        padding: 2rem;
    }

    &.section-stretch {
        align-items: stretch;
    }

    &.section-align-top {
        align-items: flex-start;
    }

    article {
        @include mixins.flex(column);

        &.article-row {
            flex-direction: row;
        }

        &.article-card {
            flex-grow: 1;
            box-shadow: 0rem 0rem 3rem variables.$shadow-color;
            max-width: 25rem;
            padding: 2rem;
            margin: 0rem 2rem 5rem;
        }
    }
}

@media only screen and (max-width: 1300px) {
    section article.article-card {
        margin: 0rem 0.5rem 3rem;
    }
}