@use "../utils/variables";

@font-face {
    font-family: "Klein";
    src: url("../../src/assets/fonts/klein-regular.ttf");
}

:root {
    font-family: "Klein", sans-serif;
    font-size: 16px;
    color: variables.$invert-color;
}

@media only screen and (max-width: 920px) {
    :root {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1440px) {
    :root {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2560px) {
    :root {
        font-size: 20px;
    }
}