/* Variables */
$text-color: hsl(240, 20%, 25%);
$link-color: hsl(220, 80%, 55%);
$link-hover-color: hsl(210, 80%, 75%);
$code-keyword-color: hsl(340, 90%, 70%);

$bg-color: #FAFAFA;
$bg-offset-color: #F3F3F3;
$divider-color: #CCCCCC;

$border-radius: 0.5rem;