@use "../utils/mixins";
@use "../utils/variables";

.index {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-accent article {
        @include mixins.flex(column);
        color: variables.$main-color;
        border-right: 1px solid variables.$main-color;

        h1 {
            font-size: 2.5rem;
            padding: 0rem;
            margin: 0rem 0rem 5rem;

            &::before, &::after {
                background-color: variables.$main-color;
                width: 0.5rem;
                height: 0.5rem;
                top: -3rem;
            }

            &::before {
                left: calc(50% - 2rem);
            }

            &::after {
                right: calc(50% - 2rem);
            }
        }

        a {
            background-color: variables.$main-color;
            width: 50%;
            height: 5rem;
            padding: 0px;

            span {
                font-size: 1.15rem;
            }
        }

        .ratings {
            @include mixins.flex(row, space-between, flex-end);
            flex-wrap: wrap;
            height: 5rem;
            margin-top: 5rem;

            :first-child, :last-child {
                align-self: flex-start;
            }

            span {
                @include mixins.psuedo();
                font-weight: bold;
                padding: 0rem 1rem;

                &::before {
                    background-color: variables.$faded-color;
                    width: 7rem;
                    height: 1px;
                    bottom: -1rem;
                    left: calc(50% - 3.5rem);
                }

                &::after {
                    background-color: variables.$main-color;
                    width: 1rem;
                    height: 1rem;
                    bottom: -1.5rem;
                    left: calc(50% - 0.5rem);
                }
            }
        }
    }

    article {
        position: relative;

        h1 {
            @include mixins.psuedo();
            font-size: 4rem;
            font-weight: bold;
            margin: 0rem 0rem 7.5rem 3rem;

            &::before {
                background-color: variables.$accent-color;
                width: 1rem;
                height: calc(100% - 4.5rem);
                left: -2rem;
                bottom: 0px;
            }
        }

        h2 {
            @include mixins.psuedo();
            font-weight: bold;
            font-size: 1.15rem;
            padding-left: 7.5rem;

            &::before {
                background-color: variables.$faded-color;
                width: 1rem;
                height: 1rem;
                top: calc(50% - 0.5rem);
                left: -0.5rem;
            }

            &::after {
                background-color: variables.$faded-color;
                width: 6.5rem;
                height: 1px;
                top: 50%;
                left: 0px;
            }
        }

        img {
            position: absolute;
            bottom: 10rem;
            right: 0px;
            max-width: 720px;
            filter: drop-shadow(0px 0px 2px variables.$accent-color);

            &.bottom {
                bottom: 0px;
            }
        }

        p {
            color: variables.$invert-color;
            text-align: justify;
            max-width: 25rem;
            margin: 2rem 0rem 0rem 7.5rem;

            &:last-of-type {
                @include mixins.psuedo();
                margin-bottom: 7.5rem;

                &::before {
                    border-left: 1px solid variables.$faded-color;
                    border-bottom: 1px solid variables.$faded-color;
                    width: 2.5rem;
                    height: 2.5rem;
                    bottom: -1rem;
                    left: -1rem;
                }

                &::after {
                    background-color: variables.$accent-color;
                    width: 0.75rem;
                    height: 0.75rem;
                    bottom: -1.3525rem;
                    left: -1.3525rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .index {
        article {
            h1 {
                font-size: 2rem;
            }

            img {
                display: none;
            }
        }

        .content-accent article {
            h1 {
                font-size: 2rem;
                text-align: center;
                padding: 0rem 1rem;
            }

            .ratings {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .index {
        article img {
            max-width: 250px;
        }
    }
}

@media only screen and (min-width: 920px) {
    .index article img {
        max-width: 350px;
    }
}

@media only screen and (min-width: 1024px) {
    .index article img {
        max-width: 400px;
    }
}

@media only screen and (min-width: 1440px) {
    .index article img {
        max-width: 550px;
    }
}

@media only screen and (min-width: 2560px) {
    .hero {
        padding: 15rem 0rem 15rem;
    }

    .index article img {
        max-width: 800px;
    }
}