@font-face {
    font-family: "Klein";
    src: url("../../fonts/klein-regular.ttf")
}

:root {
    --link-color: hsl(210, 85%, 65%);
    --highlight-color: hsl(150, 85%, 65%);
    font-family: "Klein";
    font-size: 16px;
    color: #DDDDDD;
}

/* Animations */
@keyframes slide-left {
    0% { transform: translateX(20%); }
    100% { transform: translateX(0); }
}

@keyframes slide-right {
    0% { transform: translateX(-20%); }
    100% { transform: translateX(0); }
}

/* Containers */
html {
    overflow-x: hidden;
}

body, #nav::before {
    background-color: hsl(212, 40%, 18%);
    background-image: radial-gradient(circle at center, hsl(212, 40%, 18%), hsl(219, 40%, 8%));
}

#content, #nav-navbar {
    max-width: 75rem;
}

#content {
    padding: 2rem;
    margin: 2rem auto;
}

/* Navbar */
#nav {
    position: relative;
    background-color: hsl(212, 40%, 18%);
    box-shadow: 0.1rem 0rem 1rem hsla(219, 40%, 10%, 0.5);
    padding: 1rem 0rem;
}

#nav::before {
    content: "";
    position: absolute;
    filter: blur(5rem);
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
}

#nav-navbar {
    justify-content: flex-end;
    width: 100%;
    padding: 0rem 2rem;
    margin: auto;
    z-index: 1;
}

#nav-navbar > a + a{
    margin-left: 2rem;
}

/* Content */
#personal-projects-header {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
}

.description {
    animation: fade-in 1000ms ease-out, slide-right 750ms ease-out;
}

.description:nth-child(odd) {
    animation: fade-in 1000ms ease-out, slide-left 750ms ease-out;
    flex-direction: row-reverse;
}

.description-content {
    margin: 1rem;
}

.description-content > p:last-child {
    margin-top: 1rem;
}

/* Global styles */
a {
    color: var(--link-color);
}

a:hover, .nav-active {
    color: var(--highlight-color);
}

a, a:hover {
    transition: color 250ms linear;
}

img, img:active {
    border-radius: 50%;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.75);
}

img:hover, img:active {
    box-shadow: 0rem 0rem 1.5rem var(--link-color);
}

img, img:hover, img:active {
    transition: box-shadow 250ms linear;
}

h1, h2 {
    margin-top: 0rem;
}

p {
    margin: 0rem;
}